target/
bin/miden-debug
.crates.toml
.crates2.json

# Docs platform ignores
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
.code
.idea
site/
venv/
env/
*.out
examples/*.masp
node_modules/
*DS_Store
._*
*.iml
book/
